# Node
node_modules/
dist/
.env
.env.*

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Docker
**/docker-data/

# Build
build/
coverage/

# IDE
.vscode/
.idea/
*.swp

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/

# Misc
*.sqlite
*.db
